@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/NotoSansJP-Regular.woff2") format("woff2"),
    url("./fonts/NotoSansJP-Regular.woff") format("woff"),
    url("./fonts/NotoSansJP-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/NotoSansJP-Medium.woff2") format("woff2"),
    url("./fonts/NotoSansJP-Medium.woff") format("woff"),
    url("./fonts/NotoSansJP-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/NotoSansJP-Bold.woff2") format("woff2"),
    url("./fonts/NotoSansJP-Bold.woff") format("woff"),
    url("./fonts/NotoSansJP-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem;
  color: #594545;
  letter-spacing: 0.006em;
}
